@model MyBudget.Web.AspNet.Models.KeyAmount

<tr>
    <td>
        @Html.DisplayFor(x => x.DistributionKey)
        @Html.HiddenFor(x => x.DistributionKey)
    </td>
    <td>
        @Html.EditorFor(x => x.Amount)
    </td>
</tr>
